[project]
	description = Tests to find bugs on Git web interfaces like GitHub, GitLab, etc. <script>alert('xss')</script>
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ciro Santilli 六四事件 法轮功 纳米比亚 威视 (cirosantilli)
[access "refs/for/refs/*"]
	read = group user/Ciro Santilli 六四事件 法轮功 纳米比亚 威视 (cirosantilli)
	push = group user/Ciro Santilli 六四事件 法轮功 纳米比亚 威视 (cirosantilli)
	label-Code-Review = -2..+2 group user/Ciro Santilli 六四事件 法轮功 纳米比亚 威视 (cirosantilli)
	label-Verified = -1..+1 group user/Ciro Santilli 六四事件 法轮功 纳米比亚 威视 (cirosantilli)
	rebase = group user/Ciro Santilli 六四事件 法轮功 纳米比亚 威视 (cirosantilli)
	removeReviewer = group user/Ciro Santilli 六四事件 法轮功 纳米比亚 威视 (cirosantilli)
	submit = group user/Ciro Santilli 六四事件 法轮功 纳米比亚 威视 (cirosantilli)
[access "refs/heads/*"]
	read = group user/Ciro Santilli 六四事件 法轮功 纳米比亚 威视 (cirosantilli)
	create = group user/Ciro Santilli 六四事件 法轮功 纳米比亚 威视 (cirosantilli)
	push = +force group user/Ciro Santilli 六四事件 法轮功 纳米比亚 威视 (cirosantilli)
	pushMerge = group user/Ciro Santilli 六四事件 法轮功 纳米比亚 威视 (cirosantilli)
[access "refs/tags/*"]
	push = +force group user/Ciro Santilli 六四事件 法轮功 纳米比亚 威视 (cirosantilli)
	pushTag = group user/Ciro Santilli 六四事件 法轮功 纳米比亚 威视 (cirosantilli)
	pushSignedTag = group user/Ciro Santilli 六四事件 法轮功 纳米比亚 威视 (cirosantilli)
